<ion-header class="modal-profile-header">
  <ion-buttons start>
    <button ion-button clear icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
  </ion-buttons>
</ion-header>

<ion-content padding>
  <div text-center class="edit-profile-picture">
    <img [src]="myUser.infos.photo">
    <p padding-top text-capitalize>{{myUser.infos.name}}</p>
    <p>{{myUser.infos.email}}</p>
  </div>
  <form [formGroup]="editForm" novalidate>
    <ion-item-group class="edit-profile-form-item-group">
      <ion-item-divider color="light">Mes infos</ion-item-divider>
      <ion-item>
        <ion-label floating> Titre du Poste</ion-label>
        <ion-input formControlName="jobTitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Statut</ion-label>
        <ion-select formControlName="status">
          <ion-option value="En mission" selected="true">En mission</ion-option>
          <ion-option value="En congés">En congés</ion-option>
          <ion-option value="En inter-contrats">En inter-contrats</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Tel</ion-label>
        <ion-input type="tel" formControlName="phoneNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="editForm.value.isManager">Je suis Manager</ion-label>
        <ion-label *ngIf="!editForm.value.isManager">Je ne suis pas Manager</ion-label>
        <ion-toggle value="isManager" formControlName="isManager"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="editForm.value.isManager">
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        <h2>Mon équipe</h2>
        <h3 float-right color="light" (click)="addInTeam()">Modifier</h3>
        <p *ngIf="teamMembers.length == 0"> Votre équipe est vide</p>
      </ion-item>
      <ion-item *ngFor="let member of teamMembers">
          <ion-avatar item-left>
            <img [src]="member.identity?.picture">
          </ion-avatar>
          <ion-label>{{member.identity?.name}}</ion-label>
      </ion-item>
    </ion-item-group>
  </form>
  <ion-fab right bottom>
    <button ion-fab color="primary" type="submit" [disabled]="editForm.invalid && editForm.dirty" (click)="onSubmit()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>