<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- just a login button if not authenticated -->

  <div text-center *ngIf="lauchLogin" id="loadingSpinner">
    <ion-spinner></ion-spinner>
  </div>


  <div *ngIf="!auth.isAuthenticated() && !lauchLogin">
    <button ion-button block color="primary" (click)="login()">Login</button>
  </div>

  <div text-center>
    {{errorLoginMessage}}
  </div>

  <!-- a card with your picture and name, plus a logout button -->
  <div *ngIf="auth.isAuthenticated()">
    <ion-card>
      <img [src]="auth.user.picture" />
      <ion-card-content>
        <ion-card-title>{{ auth.user.name }}</ion-card-title>
      </ion-card-content>
    </ion-card>
    <button ion-button block color="primary" (click)="auth.logout()">Logout</button>
  </div>
</ion-content>
